/* .App {
  text-align: center;
} */

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  color: #000000;
}

img {
  display: block;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}